@model IEnumerable<Laba_OOP.Storage.Entity.Reader>
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>ListReaders</title>
</head>
<body>
    <div>
        <h1>Читатели</h1><br />
        @using (Html.BeginForm("FindReader", "Reader"))
        {
            <label>Поиск по имени: </label>
            <input type="text" name="Name" />
            <label>     Поиск по фамилии: </label>
            <input type="text" name="LastName" />
            <button>    Найти</button> <br /> <br />
        }
        @if (Convert.ToInt32(ViewBag.Count) != 0)
        {
            @foreach (var item in Model)
            {
                <label>Имя: </label>@item.Name<br />
                <label>Фамилия: </label>@item.LastName<br />
                <label>Дата регистрации: </label>@item.Registration<br /><br />

                @using (Html.BeginForm("TakingReader", "Reader"))
                {
                    <button name="id_reader" value=@item.Id>Выбрать читателя</button><br />
                }
                @using (Html.BeginForm("Delete", "Reader"))
                {
                    <input type="hidden" name="NameView" value="ListReadersLib" />
                    <button name="id_delete_reader" value=@item.Id>Удалить читателя</button><br /><br />
                }
            }
        }
        else
        {
            <label>Читателей нет</label><br /><br /><br />
        }

    </div>
    @using (Html.BeginForm("AddReader", "Reader"))
    {
        <button name="NameView" value="ListReadersLib">Добавить читателя</button><br />
    }

        <form action="/Library/PageOfLibrary">
            <button type="submit">Вернуться к библиотеке</button><br />
        </form>
   
</body>