@model Laba4._5_OOP.Manager.Workers.CreateOrUpdateWorker
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>
        <h1>Добавить работника</h1>


        @using (Html.BeginForm("AddLib", "Worker", FormMethod.Post))
        {
            <label>Имя работника</label>
            <input id="Name" type="text" name="Name"><br />
            <label>Должность</label>
            <input id="Position" type="text" name="Position"><br />
            <label>Зарплата</label>
            <input id="Salary" type="text" name="Salary"><br />

            <input type="submit" value="Добавить работника" /><br /><br />
        }
    <form action="/Library/PageOfLibrary">
        <button type="submit">Вернуться к библиотеке</button><br />
    </form>
        @using (Html.BeginForm("MainPage", "Main"))
        {
            <input type="submit" value="Вернуться на главную" />
        }

    </div>
</body>
</html>