@model Laba4._5_OOP.Manager.Authors.CreateOrUpdateAuthor
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <div>
        <h1>Добавить автора</h1>

        @using (Html.BeginForm("AddingAuthor", "Book", FormMethod.Post))
        {
            <label>Имя автора: </label>
            <input id="Name" type="text" name="Name"><br />
            <label>Годы жизни: </label>
            <input id="DateLife" name="DateLife" type="text" /><br />
            <label>Биография: </label>
            <input id="Biography" name="Biography" type="text" /><br />

            <button>Добавить автора</button><br /><br />
        }

    </div>
</body>
</html>