@model IReadOnlyCollection<Laba4._5_OOP.Storage.Entity.Author>
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>ListAuthors</title>
</head>
<body>
    <div>
        <h1>Авторы</h1><br />

        @if (Convert.ToInt32(ViewBag.Count) != 0)
        {
            @foreach (var item in Model)
            {
                <label>Имя: </label>@item.Name

                @using (Html.BeginForm("AddAuthorBook", "Book"))
                {
                    <button name="id_author" value=@item.Id>Выбрать автора</button><br />
                }
            }
        }
        else
        {
            <label>Авторов нет</label><br />
        }
        @using (Html.BeginForm("AddAuthor", "Book"))
        {
            <button>Добавить автора</button><br /><br />
        }
    </div>
</body>