@model IReadOnlyCollection<Laba4._5_OOP.Storage.Entity.Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>ListBooks</title>
</head>
<body>
    <div>
        <h1>Книги категории @ViewBag.CategoryName</h1>

        @if (Convert.ToInt32(ViewBag.Count) != 0)
        {
            @foreach (var item in Model)
            {
                <label>Название: </label>@item.Name<br />
                <label>Автор: </label>@item.author.Name<br />
                <label>Категория: </label>@item.category.Name<br />

                @using (Html.BeginForm("UpdateBook", "Book"))
                {
                    <input type="hidden" name="IdBook" value=@item.Id>
                    <input type="hidden" name="NameBook" value=@item.Name>
                    <input type="hidden" name="Category" value=@item.CategoryId>
                    <input type="hidden" name="Author" value=@item.AuthorId>
                    <button name="NameView" value="ListBooksCategory">Редактировать книгу</button><br />
                }

                @using (Html.BeginForm("Delete", "Book"))
                {
                    <input name="NameView" type="hidden" value="ListBooksCategory" />
                    <button name="id" value=@item.Id>Удалить книгу</button><br /><br />
                }
            }

        }
        else
        {
            <label>Книг нет</label><br /><br /><br />
        }
        @using (Html.BeginForm("AddBook", "Book"))
        {
            <button>Добавить книгу</button><br />
        }
        <form action="/Library/PageOfLibrary">
            <button type="submit">Вернуться к библиотеке</button><br />
        </form>
    </div>
</body>