
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
</head>
<body>
    <div>
        <form action="/Library/ListOfLibrary">
            <button>Библиотеки</button><br />
        </form>
    </div>
    
</body>