@model IEnumerable<Laba4._5_OOP.Storage.Entity.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>ListAllCategories</title>
</head>
<body>
    <div>
        <h1>Категории</h1><br />

        @if (Convert.ToInt32(ViewBag.Count) != 0)
        {
            @foreach (var item in Model)
            {
                <label>Библиотека: </label>@item.Library.Name<br />
                <label>Название: </label>@item.Name<br />
                <label>Количество книг: </label>@item.Quantity<br />
                @using (Html.BeginForm("GoingToCategory", "Book"))
                {
                    <input type="hidden" name="id" value=@item.Id />
                    <button name="id_lib" value=@item.LibraryId>Перейти к категории</button><br />
                }
                @using (Html.BeginForm("Delete", "Category"))
                {
                    <button name="id" value=@item.Id>Удалить категорию</button><br /><br />
                }
            }
        }
        else
        {
            <label>Категорий нет</label><br />
        }

    </div>
    <form action="/Library/ListOfLibrary">
        <button type="submit">Вернуться к библиотекам</button><br />
    </form>
    @using (Html.BeginForm("MainPage", "Main"))
    {
        <input type="submit" value="Вернуться на главную" />
    }

</body>